# Exclude everything by default
/*

# Include config files
!/*.json
!/*.js

# Include src
!/src
!/test

# Include tools, but exclude compiled artifacts
!/tools
/tools/Rng/rng
/tools/PractRand/RNG_test
/tools/PractRand/src
/tools/TestU01/TestU01_rng
/tools/TestU01/TestU01_stdin
/tools/TestU01/bin
/tools/TestU01/include
/tools/TestU01/lib-so
/tools/TestU01/lib
/tools/TestU01/share
/tools/TestU01/src

# Include .bashrc
!/.devcontainer/.bashrc